numpy==1.24.1
seaborn==0.12.2
pandas==1.5.3
typing-extensions<4.6.0
geopandas
ipython-autotime
librosa
matplotlib
openai-whisper
pocketsphinx
pydot
scikit-learn
scipy
sentence-transformers
SpeechRecognition
tensorflow
torch
tqdm
vosk
accelerate
plotly
nbformat
fastapi
kaleido
python-multipart
uvicorn
cohere
openai
nltk
wordcloud
jupyterlab
ipywidgets
bertviz